* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    
    .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.container{
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin: 0 auto;
}
    body {
      font-family: "Roboto", sans-serif;
    }

    header {
      background-color: black;
      padding: 15px 20px;
    }

    .header-container {
      /* float: left; */
      max-width: 1200px;
      margin: 0 auto;
      height: 30px;
    }

    .logo {
      color: white;
      float: left;
      width: 50%;
      font-size: 20px;
      /* font-weight: bold; */
      padding-top: 5px;
    }

    
    #menu-toggle {
      display: none;
    }

    
    .hamburger {
      display: none;
      font-size: 28px;
      color: white;
      cursor: pointer;
    }

    .navigation ul {
      float: right;
      list-style: none;
      /* margin: 0;
      padding: 0; */
      
    }

    .navigation ul li {
        display: inline-block;
        /* float: left; */

      position: relative;
    }

    .navigation ul li a {
      padding: 10px 15px;
      text-decoration: none;
      color: white;
      display: block;
    }

    .navigation ul li a:hover {
      background-color: blueviolet;
    }

   .navigation ul li ul.dropdown {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: rgb(80, 72, 72);
      /* list-style: none; */
      z-index: 999;
      min-width: 160px;
    }
    .navigation ul li ul.dropdown li {
      display: block;
    }

    .navigation ul li ul.dropdown li a{
      display: block;
      padding: 10px 15px;
      color: white;
      list-style: none; 
    }

    
    .navigation ul li:hover > ul.dropdown {
      display: block;
    }



   
    .section {
      width:100%;
      margin-top: 20px;
      /* display: inline-block; */
      /* padding:30px ; */
      /* border: 1px solid black; */
      
    }

    .picture {
      width: 60%;
      float: left;
    }

    .picture img {
      border-radius: 5px;
      width: 100%;
      max-width: 500px;
      height: auto;
    }


    .imagetext{
      padding: 30px;
      /* text-align: center; */
      margin-top: 50px;
        width: 40%;
        float: right;
    }


    .imagetext h4 {
      margin-bottom: 15px;
      font-size: 25px;
    }

    .imagetext p {
      margin-bottom: 20px;
    }

    .btn {
      padding: 10px 20px;
      color: white;
      background-color: #2222ec;
      text-decoration: none;
      border-radius: 5px;
      display: inline-block;
    }

    .btn:hover {
      background-color: aquamarine;
      color: black;
    }

    .nextsub {
      width: 100%;
      height: 80px;
      padding: 20px;
      margin: 0;
      /* margin-left: 0; */
      background-color: gray;
      border-radius: 5px;
      color: white;
      /* border: 1px solid black; */
      text-align: center;
    }
.nextsub p{
  padding-top: 10px;
}
 .section-banner{
  text-align: center;
    /* border: 1px solid black; */
    padding: 20px 0;
    width: 100%;

 }
 .section-cards{
  /* border: 1px solid black; */
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;

 }
    .cards {
      background-color: white;
      border: 1px solid black;
      padding: 30px 20px 60px 20px;
     position: relative;
      min-width: 280px;
      max-width: 350px;
      border-radius: 8px;
      margin: 1%;
      display: inline-block;
      width: 33.33%;
      box-sizing: border-box;
      text-align:left ;
    
    }


    .cards h3 {
      margin-bottom: 15px;
      font-size: 20px;
      text-align: center;
    }

    .cards p {
      font-size: 15px;
      line-height: 1.5;
      margin-bottom: 15px;
      text-align: left;
    }

    .moreinfo {

      background-color: rgb(241, 239, 239);
      border-radius: 8px;
      padding: 10px;
      text-align: left;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .moreinfo .btn{
      display: inline-block;
      padding: 8px ;

    }

    footer {
     
      padding: 5px;
      text-align: center;
      color: white;
      background-color: black;
      bottom: 0;
      width: 100%;
      height: 50px;
      position: fixed;
    }
    footer p{
      text-align: center;
      padding-top: 15px;
    }

        @media(max-width: 700px) {
      .hamburger {
        display: block;
        text-align: right;
      }

      .navigation {
        display: none;
        right: 10px;
        top: 70px;
        position: absolute;
      }

      #menu-toggle:checked ~ .navigation {
        display: block;
      }

      .navigation ul {
        display: block;
        background-color: black;

      }


      .picture{
        width: 100%;
      }
.imagetext{
    display: block;
    width: 100%;
}
    
.section{
    display: block;
}


      .navigation ul li:hover > .dropdown  {
        display: block;
      }
    }